<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P5 Super-Cool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="stars twinkling" >
<div style="background-color:black;">
    <div class="stars">
        <div class="twinkling">
    </div>
    </div>

<div class="topnav">
    <b><a class="active" href="index">home</a>
        <a href="project">projects</a>
        <a href="socials">socials</a>
        <a href="readme">readme</a>
        <a href="landing2">portfolio</a></b>
    <b><p class="navheader">mackenzie aboy</p></b>
</div>
</div>
{% block index %}
{% endblock %}
{% block projects %}
{% endblock %}
{% block socials %}
{% endblock %}
{% block readme %}
{% endblock %}

</html>