{% extends 'nav-bar.html'%}
{% block projects %}
<div class="position-card">
    <div class="card">
        <div class="flip-card-front">
            <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">PERSONAL PORTFOLIO CODE</h2>
                <a href="https://repl.it/@kenzie16rylie/my-project#projects.html"><i style="color:white;" class="fa fa-html5 fa-5x"></i></a>
        </div>
    </div>
</div>
<div class="position-card2">
    <div class="card2">
        <div class="flip-card-front2">
            <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">GEO-GUESSR</h2>
                <a href=""><i style="color:white;" class="fa fa-html5 fa-5x"></i></a>
        </div>
    </div>
</div>
<div class="position-card3">
    <div class="card3">
        <div class="flip-card-front3">
            <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">EMPTY</h2>
        </div>
    </div>
</div>
</body>
{% endblock %}
