{% extends 'nav-bar.html'%}
{% block socials %}

    <div class="position-card">
        <div class="card">
            <div class="flip-card-front">
                <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">INSTAGRAM</h2>
                    <a href="https://www.instagram.com/kenzie_rylie/?hl=en"><i style="color:white;" class="fa fa-instagram fa-5x"></i></a>
            </div>
        </div>
    </div>
    <div class="position-card2">
        <div class="card2">
            <div class="flip-card-front2">
                <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">SNAPCHAT</h2>
                    <a href="https://scan.snapchat.com/snapcodes"><i style="color:white;" class="fa fa-snapchat fa-5x"></i></a>
            </div>
        </div>
    </div>
    <div class="position-card3">
        <div class="card3">
            <div class="flip-card-front3">
                <center><h2 style="font-family:'Poppins',thin; letter-spacing: 5px;">GITHUB</h2>
                    <a href="https://github.com/kenzie-rylie"><i style=color:white;" class="fa fa-github fa-5x"></i></a>
            </div>
        </div>
    </div>


</body>
{% endblock %}
